version: "3.9"

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: incidentops
      POSTGRES_USER: incidentops
      POSTGRES_PASSWORD: incidentops
    volumes:
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgresql://incidentops:incidentops@postgres:5432/incidentops
      REDIS_URL: redis://redis:6379/0
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
      - rabbitmq

  worker:
    build: ./worker
    depends_on:
      - rabbitmq
      - postgres

  chaos:
    build: ./chaos
    depends_on:
      - backend

  remediator:
    build: ./remediator
    depends_on:
      - backend

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

  prometheus:
    image: prom/prometheus
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    volumes:
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning
      - ./monitoring/grafana/dashboards:/var/lib/grafana/dashboards
    ports:
      - "3000:3000"

  loki:
    image: grafana/loki
    volumes:
      - ./monitoring/loki/loki-config.yml:/etc/loki/config.yml
    command: -config.file=/etc/loki/config.yml
    ports:
      - "3100:3100"

  promtail:
    image: grafana/promtail
    volumes:
      - ./monitoring/promtail/promtail-config.yml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki
